<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="pantalla" 
                            id="pantalla" class="form-control text-end" 
                            readonly>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">0</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">1</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">2</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">3</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">4</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">5</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">6</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">7</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">8</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">9</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">+</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">-</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">*</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">/</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">=</button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid">
                                <button class="btn btn-outline-primary">c</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

